html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

table, th, td {
  border: 1px solid black;
}

th {
  background-color: rgb(215, 215, 215);
}

th, td {
  padding: 5px;
  text-align: center;
}